<html>
 <body>
  <img src="grf/SETTING_KEY.gif" width="150" height="75" border="0" alt="MONSTER_SETTING" title="MONSTER_SETTING" align="right">
  <p class="nav"><span style="visibility:visible"><a href="_abc.html?a" title="A">First</a> &diamondsuit; <a href="_abc.html?a" title="A">Previous</a> &diamondsuit; </span><a href="../index.html">Index</a> &diamondsuit; <a href="dinosau1.html" title="Dinosaur I">Random</a> &bull; <a href="_contents.html">Contents</a><span style="visibility:visible"> &diamondsuit; <a href="aarakath.html" title="MONSTER_TITLE (Athas)">Next</a> &diamondsuit; <a href="_abc.html?zz" title="">Last</a></span><br> </p>
  <h1>MONSTER_TITLE</h1>
  <p class="tsr">MONSTER_SOURCE</p>
  <hr class ="hr1">
  <hr class ="hr2">
  <img src="img/MONSTER_KEY.gif" alt="MONSTER_TITLE" title="MONSTER_TITLE" border="0" width="300" height="360" style="text-align:right;" align="right">
  <table cellspacing="0" cellpadding="0">
    <tr><th>Climate/Terrain:</th>  <td></td></tr>
    <tr><th>Frequency:</th>        <td></td></tr>
    <tr><th>Organization:</th>     <td></td></tr>
    <tr><th>Activity Cycle:</th>   <td></td></tr>
    <tr><th>Diet:</th>             <td></td></tr>
    <tr><th>Intelligence:</th>     <td></td></tr>
    <tr><th>Treasure:</th>         <td></td></tr>
    <tr><th>Alignment:</th>        <td></td></tr>
    <tr><th>No. Appearing:</th>    <td></td></tr>
    <tr><th>Armor Class:</th>      <td></td></tr>
    <tr><th>Movement:</th>         <td></td></tr>
    <tr><th>Hit Dice:</th>         <td></td></tr>
    <tr><th>THAC0:</th>            <td></td></tr>
    <tr><th>No. of Attacks:</th>   <td></td></tr>
    <tr><th>Damage/Attack:</th>    <td></td></tr>
    <tr><th>Special Attacks:</th>  <td></td></tr>
    <tr><th>Special Defenses:</th> <td></td></tr>
    <tr><th>Magic Resistance:</th> <td></td></tr>
    <tr><th>Size:</th>             <td></td></tr>
    <tr><th>Morale:</th>           <td></td></tr>
    <tr><th>XP Value:</th>         <td></td></tr>
  </table>
  <p class="f"></p>
  <p></p>
  <p class="f"><b>Combat:</b> </p>
  <p class="f"><b>Habitat/Society:</b> </p>
  <p class="f"><b>Ecology:</b> </p>
  <table>
    <tr class="cn"><th>Age</th><th>Body Lgt. (')</th><th>Tail Lgt. (')</th><th>AC</th><th>Breath Weapon</th><th>Spells W/P</th><th>MR</th><th>Treas. Type</th><th>XP Value</th></tr>
    <tr class="cn"><td style="text-align:left; font-weight:bold;">1 Hatchling</td>      <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
    <tr class="cn"><td style="text-align:left; font-weight:bold;">2 Very young</td>     <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
    <tr class="cn"><td style="text-align:left; font-weight:bold;">3 Young</td>          <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
    <tr class="cn"><td style="text-align:left; font-weight:bold;">4 Juvenile</td>       <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
    <tr class="cn"><td style="text-align:left; font-weight:bold;">5 Young adult</td>    <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
    <tr class="cn"><td style="text-align:left; font-weight:bold;">6 Adult</td>          <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
    <tr class="cn"><td style="text-align:left; font-weight:bold;">7 Mature adult</td>   <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
    <tr class="cn"><td style="text-align:left; font-weight:bold;">8 Old</td>            <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
    <tr class="cn"><td style="text-align:left; font-weight:bold;">9 Very old</td>       <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
    <tr class="cn"><td style="text-align:left; font-weight:bold;">10 Venerable</td>     <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
    <tr class="cn"><td style="text-align:left; font-weight:bold;">11 Wyrm</td>          <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
    <tr class="cn"><td style="text-align:left; font-weight:bold;">12 Great Wyrm</td>    <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td></tr>
   </table>
  
  <br clear="all" style="clear:both; height:0;">

  <p style="text-align:right; font-size:x-small;"><i>Last Modified: </i></p>

  <p class="f" style="text-align:center;"><img src="grf/tsr_sm.png" width="56" height="59" border="0" alt="TSR"></p>
  <br>
  <p class="nav" style="margin-left:0;"><span style="visibility:visible"><a href="_abc.html?a" title="A">First</a> &diamondsuit; <a href="_abc.html?a" title="A">Previous</a> &diamondsuit; </span><a href="../index.html">Index</a> &diamondsuit; <a href="dinosau1.html" title="Dinosaur I">Random</a> &bull; <a href="_contents.html">Contents</a><span style="visibility:visible"> &diamondsuit; <a href="aarakath.html" title="MONSTER_TITLE (Athas)">Next</a> &diamondsuit; <a href="_abc.html?zz" title="">Last</a></span><br> </p>
 <p style="text-align:center; font-size:x-small; text-indent:0;">&#9670; 1 &#9670;</p>
 </body>
</html>