<html>
 <body>
  <img src="grf/SETTING_KEY.gif" width="150" height="75" border="0" alt="MONSTER_SETTING" title="MONSTER_SETTING" align="right">
  <p class="nav"><span style="visibility:visible"><a href="_abc.html?a" title="A">First</a> &diamondsuit; <a href="aasimar.html" title="">Previous</a> &diamondsuit; </span><a href="../index.html">Index</a> &diamondsuit; <a href="unicblac.html" title="Unicorn, Black (Toril)">Random</a> &bull; <a href="_contents.html">Contents</a><span style="visibility:visible"> &diamondsuit; <a href="aasiagat.html" title="Aasimon, Agathinon">Next</a> &diamondsuit; <a href="_abc.html?zz" title="">Last</a></span><br><a href="aballin.html" title="">Skip Aasimon</a></p>
  <h1>MONSTER_TITLE</h1>
  <p class="tsr">MONSTER_SOURCE</p>
  <hr class ="hr1">
  <hr class ="hr2">
  <img src="img/MONSTER_KEY.gif" alt="MONSTER_TITLE" title="MONSTER_TITLE" border="0" width="300" height="360" style="text-align:right;" align="right">
  <p class="f"></p>
  <table class="ip">
   <tr class="bk"><th>Attack Form</th><th>Damage</th></tr>
   <tr><td>Acid</td><td>Half</td></tr>
  </table>
  <p class="ni"></p>
  <p></p>
  <p></p>
  <br clear="all" style="clear:both; height:0;">

  <p style="text-align:right; font-size:x-small;"><i>Last Modified: June 10, 2010, 11:51:33 GMT</i></p>

  <p class="f" style="text-align:center;"><img src="grf/add2_01.gif" width="200" height="56" border="0" alt="Advanced Dungeons & Dragons 2nd Edition"></p>
  <br>
  <p class="nav" style="margin-left:0;"><span style="visibility:visible"><a href="_abc.html?a" title="A">First</a> &diamondsuit; <a href="aasimar.html" title="">Previous</a> &diamondsuit; </span><a href="../index.html">Index</a> &diamondsuit; <a href="unicblac.html" title="Unicorn, Black (Toril)">Random</a> &bull; <a href="_contents.html">Contents</a><span style="visibility:visible"> &diamondsuit; <a href="aasiagat.html" title="Aasimon, Agathinon">Next</a> &diamondsuit; <a href="_abc.html?zz" title="">Last</a></span><br><a href="aballin.html" title="">Skip Aasimon</a></p>
 <p style="text-align:center; font-size:x-small; text-indent:0;">&#9670; 5 &#9670;</p>
 </body>
</html>