/* Variables */
/* :root{
    --color-main-darker: #1250A2
} */

/* 
.printframe {
    width: 
} */

/* Column wrapper */
.column-wrapper {
    columns: 2;
    column-gap: 7mm;
    /* column-fill: auto; */
}

/* Printing Settings */
table, img, svg {
    break-inside: avoid;
  }


  

  /* target all pages */

@page {
    margin: 0cm;
    margin-left: 1cm;
    margin-right: 5mm;
    margin-bottom: 5mm;
    /* margin-top: 1cm; */
    /* margin-top: 108px; */
    /* padding-top: 108px; */

    
  }

  @page content {
    /* margin-top: 108px; */
  }

  /* article ::before {
    content: ' ';
    width: 100%;
    margin-bottom: 108px;
    column-span: all;
} */



.tsr-print {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    margin-right: 5mm;
    max-height: 36px;
    width: 100%;
}

.tsr-print .source {
    font-family: 'Zapf Calligraphic 801';
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3mm;
    font-size: 10pt;
    font-style: italic;
    /* width: 100%; */
  }

  @media print {
    div.top-header {
        /* position: fixed;
        top: 0; */
        /* margin-bottom: 108px; */
    }

    @page { 
        margin-top: 7mm; 
    } 

    @page :first {
        margin-top: 3mm;
    }

    @page :left {
        margin-top: 17mm;
        margin-right: 20mm;
        margin-left: 8mm;
    }
    
    @page :right {
        margin-top: 17mm;
        margin-right: 8mm;
        margin-left: 20mm;
    }
    

    .tsr {
       display: none;
        /* font-size: medium; */
        text-align: right;
        /* float: right; */
      }

    


    
}

  

  /* Responding statblock table resizing/rearranging */
  
  /* target the first page only */

  
  /* target left (even-numbered) pages only */
  /* @page :left {
    margin-right: 2cm;
  } */
  
  /* target right (odd-numbered) pages only */
  /* @page :right {
    margin-left: 2cm;
  } */

.monster-img-frame {
    /* max-height: 500px;
    max-width: 300px;
    margin: 10px;
    padding: 5mm;
    float: right;
    clear: both; */
    width: 100%;
    
    clear: both;
}

.monster-img-frame::before {
    content: '' ;
    display:block;
    float: right;
    height: 7in;
}


/* .monster-img-frame:after {
    clear: both; 
    column-span: all;
    bottom: 10px;
} */

/* Main Image */
img.monster-image {
    float: right;  
    clear: both;
    margin-left: calc(100%);
    margin-bottom: 3mm;
    width: 90mm;
}



.setting-image {
    float: right;
    width: 150px;
}

/* Setting Image */
.top-header img.setting-image{
    float:right;
    /* width: auto; */
    /* height: 40px; */
    width: 150px;
    
}

/* Top Header */
div.top-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    /* height: 75px; */
    /* position: fixed; */
        /* top: 0; */

    width: 100%;
    z-index: 1;
}

div.top-header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* height: 75px; */

    width: 100%;

}



.top-header > a {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
}

/* Headers */
.top-header h1 {
    color: #4169e1;
    margin-top: 12px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: left;
    font-family: frizquadrata_ltbold;
    letter-spacing: 0.3px;
    width: 100%;
    font-size: xx-large;
  }
.top-header h2 {
    color: #4169e1;
    margin-bottom: 0;
}

/* Horizontal Lines */


.hr1 {
    color: black;
    background-color: black;
    height: 3px;
    margin-top: 0px;
    
    /* margin-bottom: 7px; */
    /* margin: 7px; */
    clear: none;
    width: 100%;
}


.source-list {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: flex-end;
    /* padding: 1em; */
}

.tsr-label{
    text-align: left;
    padding-right: 2em;
    font-size: 10pt;
    font-family: 'Zapf Calligraphic 801';
}

.tsr {
    /* font-size: medium; */
    text-align: right;
    /* float: right; */
  }

  .tsr .source {
    font-family: 'Zapf Calligraphic 801';
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3mm;
    font-size: 10pt;
    font-style: italic;
  }

/* Table */
table.statblock {
    margin-left: 1em;
}

table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content; 
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0px;
    
    /* table-layout: fixed; */
    overflow-x: visible;
    
}



th {
    text-align: left;
    font-weight: bolder;
    /* color: #4169e1; */
    color: black;
    text-transform: uppercase;
  }
  th, td {
    padding-right: 0.5em;
    vertical-align: top;
  }

  tr > td:first-child{
    white-space:nowrap;
    max-width:50%;
    word-break:break-all;
 }

.Statblock-Image {
    flex-direction: column;
}

/* Psionics Table */
p.psionics-summary{
    font-weight: bold;
    margin-left: 1em;
    margin-bottom: 0.5em;
}
table.psionics-table {
    border: thin solid #4169e1;
    margin-left: 1em;
  }
tr.psionic-table-data{
    text-align: center;
}

/* Monster Body */

.body-blocks p {
    text-align: justify;
}


div.monster-body {
    font-size: medium;
    padding: 1em;
    text-align: justify;
    text-justify: inter-word;
}

/* Last Modified */
div.last-modified {
    font-size: small;
    font-style: italic;
    text-align: right;
    margin: 2em;
}

/* TSR Footer */
img.tsr-footer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Tables */
table.ip {
    border: thin solid #4169e1;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

table.ip tr::before {
    content: "";
    margin-left: 10px;
  }
table.ip tr::after {
    content: "";
    margin-right: 10px;
  }

/* Psionic Table Rows */

table.ip tr.cn td {
    /* center text */
    text-align: center;
  }
  /* header */
table.ip tr.bk th{
    padding-left: 1em;
    padding-right: 1em;
}


/* Paragraph and Text */
.interweave p.ni {
    text-indent: 0;
    margin-block-start: 4pt;
    margin-block-end: 4pt;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.interweave p.f {
    margin-top: 1em;
    text-indent: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

/* Scrollable statblock */

.interweave p.fi {
    margin-top: 1em;
}


/* Nav text */
.monster-nav-links{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1mm;
    margin-bottom: 1mm;
    
    width: 100%;
    height: var(--navbar-height);
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* font-family: 'Friz Quadrata'; */
    font-family: 'Leksa Sans';
    align-items: center;
    text-decoration: none;
}

    /* color: #4169e1;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
} */

.monster-nav {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    flex: auto;
    border-radius: 8px;
    border-bottom: #4169e1 solid 1mm;
    
    padding-top: 2mm;
    padding-bottom: 2mm;
    padding-left: 2mm;
    padding-right: 2mm;
    min-width: 65px;
    margin-left: 2mm;
    margin-right: 2mm;
}

.monster-nav-link{
    color: #4169e1;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.horizontal-monster-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

/* Random */
div.RandomMonsterButton a {
    color: #4169e1;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
}

.page-random-monster-button {
    /* Rectangle 8 */
    background: #1250A2;
    /* width: 200px; */
    height: max-content;
    max-width: 70vw;
    /* margin-bottom: 10rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border:rgba(0, 0, 0, 0.25) 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    transition-duration: 100ms;
    z-index: 1;
  }

.page-random-monster-button:hover {
transform: translate(-5px, -5px);
box-shadow: 5px 9px 4px rgba(0, 0, 0, 0.25);
transition-duration: 100ms;
}

/* Loading */

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* Header images */
h2 img {
    margin-left: 1em;
    margin-right: 1em;
}

/* SIZING FOR MOBILE */

@media screen and (max-width: 420px) {
    .monster-nav-links {
        flex-direction: column;
    }
}

@media screen and (max-width: 537px) {
    .top-header h1{
        font-size: 1.5em;

    }

    img.monster-image {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        float:none
    }
    img.setting-image {
        margin-left: auto;
        margin-right: auto;
        float:none;
    }
  }

@media screen and (max-width: 700px) {
    /* top header */
    div.top-header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }

    table {
        display: block;
        max-width: -moz-fit-content;
        max-width: fit-content; 
        border-collapse: collapse;
        border-spacing: 0;
        padding: 0px;
        /* table-layout: fixed; */
        overflow-x: auto;
        
    }
    /* Make the image stack on top */
    img.monster-image {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        float:none
    }
    .monster-img-frame {
        display: block;
        /* justify-content: center; */
        /* margin:auto; */
        float: none;
        margin: auto;
        max-width: 350px; 
        /* max-height: 420px; */
        /* border: 1px solid black; */
    }
}