
article > div > span.interweave > p.f {
  padding-top: 4mm;
  text-indent: 0mm;
}

article > div > span.interweave {
  display: block;
  position: relative;
  /* top: -180px; */
  line-height: 13.5px;
}




article > div > span.interweave > p {
  margin: 0;
  /* margin-top: 2px; */
  /* margin-bottom: 2px; */
  text-indent: 3mm;
  text-align: justify;
  font-family: 'Zapf Calligraphic 801';
  font-size: 9pt;
  hyphens: auto;
  letter-spacing: 0.3px;
  /* word-spacing: 1px; */
}

article > div > span.interweave > h2 {
  margin: 0;
  /* margin-top: 2px; */
  /* margin-bottom: 2px; */
  text-indent: 0em;
  text-align: justify;
  font-family: 'Zapf Calligraphic 801';
  font-size: 9pt;
  font-weight: bold;
  padding-top: 2mm;
    /* margin-top: 2mm; */
    margin-bottom: -4mm;
}

article > div > span.interweave > table > caption {
  font-family: 'Zapf Calligraphic 801';
  font-size: 9pt;
  font-weight: bold;
  padding-top: 2mm;
}

article > div > span.interweave > table:has(tr.cn){
  column-span: all;
}

/* article > div > span.interweave > table.ip{
  column-span: all;
} */

article > div > span.interweave > table.ip:has(tr.cn){
  /* column-span: all; */
  column-span: none;
}

article > div > span.interweave > table > tbody > tr > th {
  font-family: 'Zapf Calligraphic 801';
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  letter-spacing: 0.5px;
  font-size: 9pt;
}
article > div > span.interweave > table > tbody > tr > td {
  font-family: 'Zapf Calligraphic 801';
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3mm;
  font-size: 9pt;
}

article > div > span.interweave > table {
  position: relative;
  padding-top: 2mm;
  /* column-span: all; */
  /* top: -180px; */
}

article > div > span.interweave > table.ip {
  column-span: none;
}






/* Printing Settings */

@page {
  /* margin: 2cm; */
  /* margin-top: 508px; */
}




/* article > div.print {
  margin: 2mm;
} */

@font-face {
  font-family: "Zapf Calligraphic 801";
  src: url("../fonts/Zapf\ Calligraphic\ 801\ BT.ttf")
}
@font-face {
  font-family: "Zapf Calligraphic 801 Bold";
  src: url("../fonts/Zapf\ Calligraphic\ 801\ Bold\ BT.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Zapf Calligraphic 801";
  src: url("../fonts/Zapf\ Calligraphic\ 801\ Italic\ BT.ttf");
  font-style: italic;
}
@font-face {
  font-family: "DejaVu Sans";
  src: url("../fonts/Zapf\ Calligraphic\ 801\ Bold\ Italic\ BT.ttf");
  font-weight: bold;
  font-style: italic;
}


@font-face {
    font-family: "frizquadrata_ltbold";
    src: url("../fonts/friz_quadrata_lt_bold-webfont.woff2")
        format("woff2"),
      url("../fonts/friz_quadrata_lt_bold-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "FrizQuadrata";
    src: url("../fonts/frizquadrata-webfont.woff2")
        format("woff2"),
      url("../fonts/frizquadrata-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Palatino";
    src: url("@fonts/palatino.woff") format("woff");
    font-wieght: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Palatino";
    src: url("@fonts/palatino-med-italic.woff2") format("woff2");
    font-weight: normal;
    font-style:italic;
    font-display: swap;
  }

  @font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue-Medium.otf");
    font-display: swap;
  }

  @font-face {
    font-family: "Helvetica CE 55 Roman";
    src: url("../fonts/Helvetica\ Neue\ CE\ 55\ Roman.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Leksa Sans";
    src: url("../fonts/LeksaSans.otf");
    font-display: swap;
  }

  @font-face {
    font-family: "Leksa Sans Bold";
    src: url("../fonts/LeksaSans-Bold.otf");
    font-display: swap;
  }

  @font-face {
    font-family: "Leksa Sans DemiBold";
    src: url("../fonts/LeksaSans-DemiBold.otf");
    font-display: swap;
  }