/* Breadcrumb layers */
.bc-frame {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    

    margin-top: 1em;
    margin-bottom:1em;
    /* margin-left: 4em; */
    /* margin-right: 4em; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        text-decoration: none;
    z-index: 1;

}


.right-arrow{
    width: 2em;
    height: 2em;
    color: #D3D8DE;
}

.arrow-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.bc-element {
    /* text-align: left; */
    font-family: 'Leksa Sans Bold', sans-serif;
    font-size: 14pt;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    line-height: 48px;
    text-align: left;
    
}



.breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 14px 0px 14px;
    text-decoration: none;
    /* position: absolute; */
    /* width: 100; */
    /* height: 48px; */
    left: 0px;
    top: 0px;
    flex-wrap: wrap;
    z-index: -1;
    --webkit-backface-visibility: hidden;
}



.bc-bg {
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 4px;
    z-index: -1;
}


.bc-catalog {
    font-family: 'Leksa Sans', sans-serif;
    font-size: 18pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    /* border-bottom: 1px solid #e6e6e6; */
    color: black;
}


/* from jsfiddle
.bc-container {}

.bc-frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px dashed;
  filter: drop-shadow(0px, 4px, 4px, rgba(0, 0, 0, 0.25));

}

.bc-element {
  display: block;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  border: 1px solid;
}

.bc-arrow {
  display: block;
  padding: 0.5em;
}



*/