.setting-logo{
    display: flex;
    width: fit-content;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    max-width: 25%;
    /* width: 25%; */
}

.headerimg {
    width: 100%;
   
}
